<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <section class="text-gray-600 body-font bg-indigo-100">
        <div class="container px-5 py-24 mx-auto">
          <div class="flex flex-col text-center w-full mb-20">
            <h1 class="sm:text-4xl text-3xl font-medium title-font mb-2 text-gray-900">Apply for Instant  Loan</h1>
            <p class="lg:w-2/3 mx-auto leading-relaxed text-base">We offer a wide range of loans to meet your diverse needs. Whether the need is for a house, child's education, our unique and need specific loans will enable you to convert your dreams to realities.</p>
          </div>
          <div class="lg:w-2/3 w-full mx-auto overflow-auto">
            <table class="table-auto w-full text-left whitespace-no-wrap">
              <thead>
               
              </thead>
              <tbody>
                <tr>
                    <td class="px-4 py-3">Loan Type</td>
                    <td class="px-4 py-3"><input type="text" class="border"></td>
                   
                     
                   
                  </tr>
                <tr>
                  <td class="px-4 py-3">Loan amount</td>
                  <td class="px-4 py-3"><input type="text" class="border"></td>
                 
                   
                 
                </tr>
                <tr>
                  <td class="border-t-2 border-gray-200 px-4 py-3">Customer name</td>
                  <td class="border-t-2 border-gray-200 px-4 py-3"><input type="text" class="border"></td>
                 
                   
                  
                </tr>
                <tr>
                  <td class="border-t-2 border-gray-200 px-4 py-3">Monthly Income</td>
                  <td class="border-t-2 border-gray-200 px-4 py-3"><input type="text" class="border">
                </td>
         
                  
                   
                  
                </tr>
                <tr>
                    <td class="border-t-2 border-b-2 border-gray-200 px-4 py-3">Employment Status</td>
                    <td class="border-t-2 border-b-2 border-gray-200 px-4 py-3"><input type="radio" id="employed" >
                      <label for="employed">Employed</label>
                      <input type="radio" id="Unemployed">
                      <label for="Unemployed">Unemployed</label>
                      <input type="radio" id="Self_Employed">
                      <label for="Self_Employed">Self-employed</label>
                    </td>
  
                    
                  </tr>
                <tr>
                    <td class="border-t-2 border-gray-200 px-4 py-3">Credit Score</td>
                    <td class="border-t-2 border-gray-200 px-4 py-3"><input type="text" class="border"></td>
                   
                     
                    
                  </tr>
                <tr>
                  <td class="border-t-2 border-b-2 border-gray-200 px-4 py-3">Gender</td>
                  <td class="border-t-2 border-b-2 border-gray-200 px-4 py-3"><input type="radio" id="male" >
                    <label for="male">Male</label>
                    <input type="radio" id="female">
                    <label for="female">Female</label></td>

                  
                </tr>
                <tr>
                    <td class="border-t-2 border-gray-200 px-4 py-3">Age</td>
                    <td class="border-t-2 border-gray-200 px-4 py-3"><input type="text" class="border"></td>
                   
                     
                    
                  </tr>
                <tr>
                    <td class="border-t-2 border-gray-200 px-4 py-3">Mobile number</td>
                    <td class="border-t-2 border-gray-200 px-4 py-3"><input type="text" class="border"></td>
                   
                     
                    
                  </tr>
                  <tr>
                    <td class="border-t-2 border-gray-200 px-4 py-3">Email Id</td>
                    <td class="border-t-2 border-gray-200 px-4 py-3"><input type="text" class="border"></td>
                   
                     
                    
                  </tr>
              </tbody>
            </table>
          </div>
          <div class="flex pl-4 mt-4 lg:w-2/3 w-full mx-auto">
            
            <button class="flex ml-auto text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded">Submit</button>
          </div>
        </div>
      </section>
</body>
</html>